---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
import 'bootstrap/dist/css/bootstrap.min.css';
---

<BaseLayout title='About dev'>
    <main>
        
    </main>
</BaseLayout>